<form accept-charset="UTF-8" action="/consumer/start" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="FexbU73aMIM9j6WmIWg0U4lB1t1vfKpCQd4sK+ac2+Q="></div>
  <div class="row">
    <label class="check" for="openid_identifier">Identifier:</label>
    <input id="openid_identifier" name="openid_identifier" type="text" value="localhost:3000">
    <input name="commit" type="submit" value="Verify">
  </div>
  <div class="row">
    <input id="immediate" name="immediate" type="checkbox" value="1">
    <label class="check" for="immediate">Use immediate mode</label>
  </div>
  <div class="row">
    <input id="use_sreg" name="use_sreg" type="checkbox">
    <label class="check" for="use_sreg">Request registration data</label>
  </div>
  <div class="row">
    <input id="use_ax_fetch" name="use_ax_fetch" type="checkbox">
    <label class="check" for="use_ax_fetch">Request attribute exchange data</label>
  </div>
  <div class="row">
    <input id="use_ax_store" name="use_ax_store" type="checkbox">
    <label class="check" for="use_ax_store">Store attributes with attribute exchange</label>
  </div>
  <div class="row">
    <input id="use_pape" name="use_pape" type="checkbox">
    <label class="check" for="use_pape">Request phishing-resistent auth policy (PAPE)</label>
  </div>
  <div class="row">
    <input id="force_post" name="force_post" type="checkbox">
    <label class="check" for="force_post">Force the transaction to use POST by adding 2K of extra data</label>
  </div>
</form>