/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#iframe-global-auth {
    display: none;
}

.notification {
    font-size: 16px;
    line-height: 8px;
    width: 90%;
    padding: 4px 5% 16px 5%;
    z-index: 250;
    position: fixed;
    top: -75px;
    left: 0px;
    background: White;
    background: rgba(255, 255, 255, 0.95);
    -moz-box-shadow: 0 1px 10px #9c9c9c;
    -webkit-box-shadow: 0 1px 10px #9c9c9c;
    box-shadow: 0 1px 10px #9c9c9c;
}
.notification .notify-close-info {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
    cursor: pointer;
}