<!DOCTYPE html>
<html>
<head>
  <title>Sso</title>
  <script>
    window.current_user = <%== current_user.to_json%>
    <% if user_signed_in?%>
    current_user['nonce'] = <%= current_user.global_updated_at.to_i%>
    <% end %>
  </script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%=  yield :head %>
</head>
<body>
<% if flash[:notice] %>
    <div class="notice"><%=simple_format h(flash[:notice]) %></div>
<% end %>
<% if flash[:alert] %>
    <div class="error"><%=simple_format h(flash[:alert]) %></div>
<% end %>
<%= yield %>
<%= current_user.to_json%>
</body>
</html>
